.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(-80%);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar.open {
    transform: translateX(0%);
    left: 0;
}

.toggleButton {
    position: absolute;
    right: 0px;
    height: 24px;
    width: 24px;
    z-index: 1;
    background-color: #333;
    color: rgb(232, 8, 8);
    border: none;
}

.draftButton {
    position: float;
    top: 10px;
    left: 10px;
    color: white;
    border: none;
    /* Remove border-radius to make it square */
    /* border-radius: 50%; */
    font-size: 1.2em;
    align-items: left;
    justify-content: left;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.draftButton:hover {
    background-color: #555;
}

.draftButton:focus {
    outline: none;
}
.content {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 100%;
    padding-right: 5px;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(46, 46, 46);
    margin-top: 5px;
    margin-left: 5px;
}
.activeYear, .activeMock {
    font-weight: bold;
    font-size: 1.2em;
}
.showDraftsIcon {
    position: relative;
    top: -2px;
    margin-left: 4px;
    font-size: 0.6em;
}

.leagueHeading {
    max-width: 120px;
    font-size: 1.8em;
    margin-right: 36px;
    /* padding-right: 20px; */
}

/* Add styles for the dropdown menu */
.dropdown {
    min-width: 50%;
    max-width: 80%;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
}

.dropdown label {
    margin-right: 10px;
    background-color: #333;
    color: white;
}

.dropdown select {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: 1em;
}