.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(-80%);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar.open {
    transform: translateX(0%);
    left: 0;
}

.toggleButton {
    position: absolute;
    right: 10px;
    height: 24px;
    width: 24px;
    z-index: 1;
    background-color: #333;
    color: rgb(232, 8, 8);
    border: none;
}
.draftButton {
    position: float;
    top: 10px;
    left: 10px;
    color: white;
    border: none;
    /* Remove border-radius to make it square */
    /* border-radius: 50%; */
    font-size: 1.2em;
    align-items: left;
    justify-content: left;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.draftButton:hover {
    background-color: #555;
}

.draftButton:focus {
    outline: none;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(46, 46, 46);
}
.activeYear {
    font-weight: bold;
    font-size: 1.2em;
}