/* DraftTable.css */

.table-container {
    margin: 20px auto;
    border-collapse: collapse;
    width: fit-content;
    font-family: Arial, sans-serif;
    /* display: block; */
    max-height: 90vh; /* Limit the height to the viewport height */
    overflow-y: auto;  /* Enable vertical scrolling */
}

.table-container th, .table-container td {
    border: 3px solid #ddd;
    padding: 6px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    position: sticky; /* Make the header sticky */
    top: -5px;           /* Stick to the top of the container and hide the border between the header and the first row */
    z-index: 1;       /* Ensure the header is above the table rows */
}

.clickable {
    cursor: pointer;
}

.table-container tr:nth-child(even) {
    background-color: #9b939377;
}

.table-container tr:hover {
    background-color: #ddd;
}

.table-container th.sort-asc::after {
    content: " ▲";
}

.table-container th.sort-desc::after {
    content: " ▼";
}
.table-container td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-container .small-column {
    width: max-content
}
.table-container .large-column {
    width: max-content
}