/* DraftTable.css */

.table-container {
    margin: 20px auto;
    border-collapse: collapse;
    width: auto;
    font-family: Arial, sans-serif;
}

.table-container th, .table-container td {
    border: 3px solid #ddd;
    padding: 6px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
}

.table-container tr:nth-child(even) {
    background-color: #9b939377;
}

.table-container tr:hover {
    background-color: #ddd;
}

.table-container th.sort-asc::after {
    content: " ▲";
}

.table-container th.sort-desc::after {
    content: " ▼";
}
.table-container td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-container .small-column {
    width: max-content
}
.table-container .large-column {
    width: max-content
}