/* Default styles for input range slider */
input[type="range"] {
    width: auto;
    height: 8px;
    border-radius: 1px;
    border-color: black;
    background: #0c0b0b; /* Default track color */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

/* Styles for input range slider in night mode */
@media (prefers-color-scheme: dark) {
    input[type="range"] {
        background: #555; /* Dark track color */
    }

    input[type="range"]::-webkit-slider-thumb {
        background: #fff; /* Light thumb color for dark mode */
    }

    input[type="range"]::-moz-range-thumb {
        background: #fff; /* Light thumb color for dark mode */
    }
}

.year-label-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Align items vertically in the center */
    min-width: min-content;
    max-width: 70%;
}

.year-label {
    display: inline-flex;
    align-items: center;
    white-space: nowrap; /* Prevent line breaks within the label */
    margin-right: 10px;
    min-width: fit-content;
}