.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.settings-container {
    flex-wrap: wrap;
    gap: 16px;
}

.MockTable > * {
    margin-bottom: 10px;
}

.MockTable h2 {
    font-size: 24px;
}

.MockTable h1 {
    font-size: 28px;
    font-weight: bold;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 0px;
    /* gap: 2%; */
}

.clickable-heading {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.clickable-heading i {
    margin-left: 4px;
}

.roster-table-container,
.available-players-container {
    flex: 1; /* Ensures both containers take equal space */
    min-width: 35%;
    max-width: 50%; /* Optional: Limits the width of the available players table */
}

.available-players-container {
    max-width: 50%; /* Optional: Limits the width of the available players table */
}

.settings-container {
    display: flex;
    justify-content: space-between;
}

.search-settings, .estimation-settings {
    flex: 1;
    min-width: 45%; /* Adjust as needed */
    max-width: 45%; /* Adjust as needed */
}

.hidden {
    visibility: hidden;
    height: 0;
}

.reset-button {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #333333;
    color: #ffffff;
}

.roster-name-input {
    width: 200px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.save-roster-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-roster-button:hover {
    background-color: #0056b3;
}

.delete-roster-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.delete-roster-button i {
    margin-right: 5px;
}

.save-roster-button:hover {
    background-color: white;
}